/* Navigation bar styles */
body {
    margin: 0;
    padding-top: 60px; 
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: Salsa;
    background-color: #065247; /* Darker shade based on image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Makes navbar fixed at the top */
    top: 0; /* Aligns navbar to the top */
    width: 100%; /* Ensures navbar stretches across the full viewport width */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
}
.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex; /* Display as flex container */
    align-items: center; /* Center items vertically */
}

.logo-link:hover {
    text-decoration: none; /* Remove underline on hover as well */
}


.frog-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-items .nav-item {
    /* Other styles */
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-family: 'Salsa', cursive;
    position: relative;
    transition: transform 0.2s ease; /* Only transition transform on hover */
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-items .nav-item.active {
    background-color: #02312ac6;
    transform: scale(1.05);
    border-radius: 20px;
    padding: 0 1.5rem; /* Adjust padding */
}

.navbar-items .nav-item:hover {
    transform: scale(1.2);
}

/* Exclude specific elements from having the hover effect */
.navbar-items .nav-item.no-hover:hover {
    transform: none !important; /* Prevent transform on hover */
    border-radius: 10px;
}


.navbar-items .dropbtn
{
    background: none;
    color: #ffffff;
    padding: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.dropdown {
    position: relative;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #065247;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left: 0; /* Keep the drop-down button aligned to the left */
    top: 100%; /* Set the top distance to 100% to place the menu below the button */
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: rgba(138, 142, 137, 0.6);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* Styling for the main header */
/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
/* Add your navbar CSS styles here */

/* Header Section styles */
.header-section {
    position:relative;
    background-image: url("/static/images/take-action.jpeg");
    background-size: 100% auto;
    background-position: center; /* Center the background image horizontally and vertically */
    z-index: -1;
    height: 300px; /* Adjust height as needed */
    padding-top: 80px;
    margin: 0;
  }
  
  .header-section::before {
    content: '';
    display: block; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 25, 21, 0.545); 
    z-index: -1; 
}

.header {
    text-align: center;
    color: white;
    padding: 4rem 0;
    text-shadow: 2px 2px 4px black; /* Add text shadow for header */
}

.header h1 {
    font-family: Salsa;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 4px black; /* Add text shadow for h1 */
}


/* Additional styles for your content and footer can be added here */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #042237; /* This sets the background color to green */
    color: white;
    width: 100%; /* Full width */
}

.impact-area {
    text-align: center; /* Centering the title */
    width: 100%; /* Full width */
    max-width: 1200px; /* Maximum width of the content area */
    margin: auto; /* Centering the content area */
}

.impact-title {
    margin-bottom: 20px; /* Space below the title */
}

.impact-body {
    display: flex;
    justify-content: space-between; /* Spaces out the child elements */
    align-items: flex-start; /* Aligns the items to the top */
}

.image-box {
    flex: 0 1 auto; /* Only grows and shrinks as needed */
    width: 40%; /* Half of the container by default */
    padding: 10px;
}

.image-box img {
    width: 100%; /* Makes the image responsive within the box */
    height: auto;
}

.description-box {
    flex: 1; /* Takes the remaining space */
    padding: 10px;
    margin-left: 20px; /* Space from the image to the description */
}

.description-box p{
    font-size: 20px;
}

@media (max-width: 768px) {
    .impact-body {
        flex-direction: column;
        align-items: center;
    }

    .image-box,
    .description-box {
        width: 100%; /* Full width on smaller screens */
        margin-left: 0; /* Remove margin for the stack on smaller screens */
    }
}

/* Global styles */
body {
    font-family: 'Open Sans', sans-serif; /* Fallback font */
}

.main-header {
    text-align: center; /* Center align the main heading */
}

/* Styles for specific elements */
.impact-title {
    font-family: 'Salsa', cursive; /* Salsa font for the main heading */
}

.description-box {
    text-align: justify; /* Justify text in the description box */
}

.dropbtn {
    font-family: 'Salsa', cursive; /* Salsa font for the button text */
}



  
  



/* Footer Section */
.footer-section {
    font-family: Salsa;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the left */
    padding: 1rem 2rem;
    background-color: #b2cee8; /* Change to match the exact color */
    color: black; 
  }
  
  .footer-links a {
    display: block; /* Make each link a block to stack them vertically */
    text-decoration: none;
    color: black; 
    margin-bottom: 0.5rem; /* Add some space between the links */
  }
  
  .footer-copy {
    align-self: stretch; /* Stretch to take the full width of the footer */
    text-align: right; /* Align text to the right */
   
    border-top: 1px solid white; /* Add a border on top */
  }
  
  .footer-copy p {
    margin: 10px; /* Remove default margin */
    text-align: center;
  }
  
  
  /* Additional responsiveness for smaller screens */
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column; /* Stack the elements on smaller screens */
      text-align: center;
    }
  
    .footer-links {
      margin-bottom: 1rem; /* Add some space between the links and copyright text */
      flex-direction: column; /* Stack the links */
      align-items: center; /* Center the links */
    }
  }