/* Navigation bar styles */
body {
    margin: 0;
    padding-top: 60px; 
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: Salsa;
    background-color: #065247; /* Darker shade based on image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Makes navbar fixed at the top */
    top: 0; /* Aligns navbar to the top */
    width: 100%; /* Ensures navbar stretches across the full viewport width */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
}
.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex; /* Display as flex container */
    align-items: center; /* Center items vertically */
}

.logo-link:hover {
    text-decoration: none; /* Remove underline on hover as well */
}


.frog-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-items .nav-item {
    /* Other styles */
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-family: 'Salsa', cursive;
    position: relative;
    transition: transform 0.2s ease; /* Only transition transform on hover */
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-items .nav-item.active {
    background-color: #02312ac6;
    transform: scale(1.05);
    border-radius: 20px;
    padding: 0 1.5rem; /* Adjust padding */
}

.navbar-items .nav-item:hover {
    transform: scale(1.2);
}

/* Exclude specific elements from having the hover effect */
.navbar-items .nav-item.no-hover:hover {
    transform: none !important; /* Prevent transform on hover */
    border-radius: 10px;
}


.navbar-items .dropbtn
{
    background: none;
    color: #ffffff;
    padding: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.dropdown {
    position: relative;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #065247;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left: 0; /* Keep the drop-down button aligned to the left */
    top: 100%; /* Set the top distance to 100% to place the menu below the button */
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: rgba(138, 142, 137, 0.6);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}





/* Styling for the main header */
.main-header {
    background-image: url('/static/images/handling_header.jpg');
    color: #fff;
    text-align: center;
    padding: 100px 0; 
    font-family: Salsa;
    background-size: cover;
    text-shadow: 2px 2px 4px black; /* Add text shadow for header */
}







.content-section.guide {
    padding: 20px; /* Padding around the entire section */
    background-color: #042237; /* Background color for the section */
    box-sizing: border-box;
    height: auto; /* Adjust height as needed */
    display: flex;
    flex-direction: column; /* Stack vertically */
}

.guide-title {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 20px; /* Space below the title */
}

.shell {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space between image and carousel */
    align-items: flex-start; /* Align at the top */
}

.guide-image {
    flex: 1; /* Flexibility in sizing */
    max-width: 30%; /* Maximum width allocated */
    text-align: center; /* Center the image */
    padding-right: 20px; /* Padding to separate from carousel */
}

.guide-image img {
    width: 80%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
}

.carousel {
    flex: 1;
    max-width: 60%; /* Maximum width allocated */
}

.carousel-inner {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth;
    scrollbar-width: none; /* No scrollbar for cleaner design */
}

.carousel-item {
    min-width: 300px; /* Minimum width for each item */
    margin-right: 100px; /* Space between items */
    background: white;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.carousel-controls {
    display: flex;
    justify-content: space-between; /* Space out previous and next buttons */
    margin-top: 10px; /* Margin from the carousel items */
}

.button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.button img {
    width: 30px; /* Size of the arrow icons */
    height: auto;
    transform: rotate(270deg); /* Right arrow */
}

.prev img {
    transform: rotate(90deg); /* Left arrow */
}







/* Base styling for all content sections */
.content {
    border: 1px solid #ccc; 
    max-width: 100%; 
    width: 100%; 
    margin: auto; 
    display: flex;
    justify-content: space-between;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 35%; 
    padding: 2rem; 
    text-align: center;
    background-color: #7AA4A0;
}

.image-container img {
    width: 100%;
    max-width: 500px; 
    height: auto; 
}

/* Styling for the Guide section */
.guide .text-container {
    width: 50%; 
    padding: 2rem; 
    background-color: #7AA4A0; /* Dark blue */
}

.guide .text-container h2 {
    margin-top: 0; 
}

/* Styling for the Report section */
.report .text-container {
    width: 50%; 
    padding: 2rem; 
    background-color: #7AA4A0; /* Different color for distinction */
    align-items: center; /* vertical center */
    justify-content: center; /* Center horizontally */
}

.report .text-container h2 {
    margin-top: 0; 
}

.image-container {
    width: 50%;
    padding: 2rem;
}



input[type="text"] {
    padding: 10px;
    margin-right: 10px; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    width: 300px; 
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #F4DBC5;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
button:hover {
    background-color: #EF6C00;
}

/* Ensure that the container of the input box is relatively positioned */
.text-container {
     position: relative;
     width: 100%;
     padding: 20px;
     background-color: #f0f0f0;
}

/* Input box style */
#suburbInput {
     width: 100%;
     padding: 10px;
     margin: 0;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
}

/* Search button style */
button {
     width: 30%;
     padding: 10px 20px;
     margin-left: 0px; /* There is a gap between the input box and the input box */
     margin-top: 10px;
     border: none;
     background-color: #F4DBC5;
     color: black;
     border-radius: 4px;
     cursor: pointer;
}

.suggestions {
     position: absolute;
     top: 126px; /* Increase the top value to ensure that the drop-down box is completely below the input box */
     left: 30px;
     right: 0;
     border: 1px solid #ccc;
     background-color: white;
     display: none; /* Not displayed by default, only displayed when there are suggestions */
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.suggestions div {
     padding: 10px;
     cursor: pointer;
     border-bottom: 1px solid #ccc;
}

.suggestions div:hover {
     background-color: #e9e9e9;
}

#messageBox {
     width: 95%;
     padding: 10px 20px;
     margin-top: 20px; /* Increase top gap */
     border: 1px solid #ccc; /* Add border */
     background-color: #f8f8f8; /* Slight background color */
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* optional slight shadow */
     border-radius: 4px; /* rounded border */
     display: none; /* Not displayed by default, only displayed when there is content */
     font-size: 16px; /* font size */
     color: #333; /* font color */
}

/* Display message box when there is content */
.report .text-container.active #messageBox {
     display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content {
        flex-direction: column; 
    }

    .image-container, .text-container {
        width: 100%;
        border-right: none; 
    }
}







/* Footer Section */
.footer-section {
    font-family: Salsa;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the left */
    padding: 1rem 2rem;
    background-color: #F4C194; /* Change to match the exact color */
    color: black; 
  }
  
  .footer-links a {
    display: block; /* Make each link a block to stack them vertically */
    text-decoration: none;
    color: black; 
    margin-bottom: 0.5rem; /* Add some space between the links */
  }
  
  .footer-copy {
    align-self: stretch; /* Stretch to take the full width of the footer */
    text-align: right; /* Align text to the right */
   
    border-top: 1px solid white; /* Add a border on top */
  }
  
  .footer-copy p {
    margin: 0; /* Remove default margin */
    text-align: center;
  }
  
  
  /* Additional responsiveness for smaller screens */
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column; /* Stack the elements on smaller screens */
      text-align: center;
    }
  
    .footer-links {
      margin-bottom: 1rem; /* Add some space between the links and copyright text */
      flex-direction: column; /* Stack the links */
      align-items: center; /* Center the links */
    }
  }