/* Navigation bar styles */
body {
  margin: 0;
  padding-top: 60px; 
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  font-family: Salsa;
  background-color: #065247; /* Darker shade based on image */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed; /* Makes navbar fixed at the top */
  top: 0; /* Aligns navbar to the top */
  width: 100%; /* Ensures navbar stretches across the full viewport width */
  z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  color: white;
  padding-left: 10px;
}
.logo-link {
  text-decoration: none;
  color: inherit;
  display: flex; /* Display as flex container */
  align-items: center; /* Center items vertically */
}

.logo-link:hover {
  text-decoration: none; /* Remove underline on hover as well */
}


.frog-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-items .nav-item {
  /* Other styles */
  color: white;
  text-decoration: none;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-family: 'Salsa', cursive;
  position: relative;
  transition: transform 0.2s ease; /* Only transition transform on hover */
  border-radius: 10px;
  margin-right: 10px;
}

.navbar-items .nav-item.active {
  background-color: #02312ac6;
  transform: scale(1.05);
  border-radius: 20px;
  padding: 0 1.5rem; /* Adjust padding */
}

.navbar-items .nav-item:hover {
  transform: scale(1.2);
}

/* Exclude specific elements from having the hover effect */
.navbar-items .nav-item.no-hover:hover {
  transform: none !important; /* Prevent transform on hover */
  border-radius: 10px;
}


.navbar-items .dropbtn
{
  background: none;
  color: #ffffff;
  padding: 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}


.dropdown {
  position: relative;
}

.arrow-icon {
  width: 15px;
  height: 15px;
  margin-left: 5px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #065247;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  left: 0; /* Keep the drop-down button aligned to the left */
  top: 100%; /* Set the top distance to 100% to place the menu below the button */
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {
  background-color: rgba(138, 142, 137, 0.6);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Your existing CSS styles */

/* Add specific styles for the hero image */
.header-section {
  position: relative;
  background-image: url("/static/images/hero_image_about_us.png");
  background-size: center;
  background-position: center;
  background-position-y: 30%; /* Center the background image horizontally and vertically */
  z-index: 0;
  height: 300px; /* Adjust height as needed */
  
}

.header-section::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  z-index: -1;
}

.header {
  text-align: center;
  color: white;
  padding: 6.5rem 0;
  text-shadow: 2px 2px 4px black;
}

.header h1 {
  font-family: 'Salsa', cursive;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

 
.container {
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: justify; /* Center-align text */
  font-family:  'Open Sans', sans-serif;
}  
  
  #imageUpload {
    width: 100%;
    margin: 20px 0;
  }
  
  
  #previewImage {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: none; /* Hidden until an image is uploaded */
    margin: 0 auto;
  }
  
/* Center align the upload box contents */
.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Make items stretch to equal height */
  flex-wrap: wrap;
  margin-top: 20px;
}

.upload-container,
.content-container {
  flex: 1 1 calc(50% - 20px); /* 50% minus padding for equal width */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the width calculation */
  margin-bottom: 20px; /* Add margin between containers */
}

.upload-container {
  border: 2px dashed rgba(3, 34, 107, 0.523);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}

.content-container {
  background-color: #042237;
  border: 4px solid #adc3ce;
  border-radius: 8px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.info-section {
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.info-section h2 {
  font-size: 1.8rem; /* Adjust heading font size */
  margin-bottom: 10px; /* Add margin below heading */
}

.info-section p {
  margin-bottom: 12px; /* Add margin between paragraphs */
  line-height: 1.6; /* Increase line height for better readability */
}

  
  .container h1 {
    font-family: 'Open Sans', sans-serif; /* Set font family for headings */
    font-size: 1.5rem; /* Set font size for headings */
  }
  
  
  
  #submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #F4DBC5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submitBtn:hover {
    background-color: #EF6C00;
  }
  
  #result {
    text-align: center;
    margin-top: 20px;
  }


  .upload-box {
    border: 2px solid #F4DBC5;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  
  .upload-box:hover {
    background-color: #f5d497;
  }

  
  

  /* Footer Section */
.footer-section {
  font-family: Salsa;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align children to the left */
  padding: 1rem 2rem;
  background-color: #b2cee8; /* Change to match the exact color */
  color: black; 
}

.footer-links a {
  display: block; /* Make each link a block to stack them vertically */
  text-decoration: none;
  color: black; 
  margin-bottom: 0.5rem; /* Add some space between the links */
}

.footer-copy {
  align-self: stretch; /* Stretch to take the full width of the footer */
  text-align: right; /* Align text to the right */
  border-top: 1px solid white; /* Add a border on top */
}

.footer-copy p {
  margin: 10px; /* Remove default margin */
  text-align: center;
}


/* Additional responsiveness for smaller screens */
@media (max-width: 768px) {
  .footer-section {
    flex-direction: column; /* Stack the elements on smaller screens */
    text-align: center;
  }

  .footer-links {
    margin-bottom: 1rem; /* Add some space between the links and copyright text */
    flex-direction: column; /* Stack the links */
    align-items: center; /* Center the links */
  }
}