/* Navigation bar styles */
body {
    margin: 0;
    padding-top: 60px; 
    font-family: salsa;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    background-color: #065247; /* Darker shade based on image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Makes navbar fixed at the top */
    top: 0; /* Aligns navbar to the top */
    width: 100%; /* Ensures navbar stretches across the full viewport width */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
}

.frog-icon {
    width: 40px;
    height: 40px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-items .nav-item{
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}


.navbar-items .dropbtn
{
    background: none;
    color: #ffffff;
    padding: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.nav-item.active {
    font-weight: bold;
    text-decoration: underline solid red;
}

.dropdown {
    position: relative;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; 
    top: 100%; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}




 
  .container {
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  #imageUpload {
    width: 100%;
    margin: 20px 0;
  }

  #previewImage {
    max-width: 100%; 
    max-height: 400px; 
    object-fit: contain;
    width: auto; /* scale to the height */
    height: auto; 
    display: block; 
    margin: 0 auto; 
  }
  
  
  #submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submitBtn:hover {
    background-color: #4cae4c;
  }
  
  #result {
    text-align: center;
    margin-top: 20px;
  }


  .upload-box {
    border: 2px dashed #cc8f8f;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
  }
  
  .upload-box:hover {
    background-color: #f7f0f0;
  }
  
  #previewImage {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    display: none; /* Hidden until an image is uploaded */
    margin: 0 auto;
  }
  
  