/* Navigation bar styles */
body {
    margin: 0;
    padding-top: 60px; 
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: Salsa;
    background-color: #065247; /* Darker shade based on image */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Makes navbar fixed at the top */
    top: 0; /* Aligns navbar to the top */
    width: 100%; /* Ensures navbar stretches across the full viewport width */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
}
.logo-link {
    text-decoration: none;
    color: inherit;
    display: flex; /* Display as flex container */
    align-items: center; /* Center items vertically */
}

.logo-link:hover {
    text-decoration: none; /* Remove underline on hover as well */
}


.frog-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar-items .nav-item {
    /* Other styles */
    color: white;
    text-decoration: none;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-family: 'Salsa', cursive;
    position: relative;
    transition: transform 0.2s ease; /* Only transition transform on hover */
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-items .nav-item.active {
    background-color: #02312ac6;
    transform: scale(1.05);
    border-radius: 20px;
    padding: 0 1.5rem; /* Adjust padding */
}

.navbar-items .nav-item:hover {
    transform: scale(1.2);
}

/* Exclude specific elements from having the hover effect */
.navbar-items .nav-item.no-hover:hover {
    transform: none !important; /* Prevent transform on hover */
    border-radius: 10px;
}


.navbar-items .dropbtn
{
    background: none;
    color: #ffffff;
    padding: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.dropdown {
    position: relative;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #065247;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left: 0; /* Keep the drop-down button aligned to the left */
    top: 100%; /* Set the top distance to 100% to place the menu below the button */
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: rgba(138, 142, 137, 0.6);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Add specific styles for the hero image */
.header-section {
    position: relative;
    background-image: url("/static/images/locator.jpg");
    background-size: cover;
    background-position: center; /* Center the background image horizontally and vertically */
    z-index: 0;
    height: 300px; /* Adjust height as needed */
  }
  
  .header-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 55, 90, 0.54);
    z-index: -1;
  }
  
  .header {
    text-align: center;
    color: white;
    padding: 4rem 0;
    text-shadow: 2px 2px 4px black;
  }
  
  .header h1 {
    font-family: 'Salsa', cursive;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }


  .source-info {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #06524d9b;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 20px;
}

.source-info p {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.source-info .source-label {
    text-decoration: none; /* Remove underline from "Source" */
}

.source-info a {
    color: #ffdd00;
    text-decoration: underline;
    font-style: bold;
    
}

/* CSS for the first section */
section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #7AA4A0; /* Default background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.706);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}

/* CSS for the second section */
.content {
    display: flex;
    align-items: stretch; 
    width: 100%; 
}

#suburbMapFrame {
    flex: 3; 
    height: 500px; 
    border-radius: 4px;
    border: none;
}

#yearMapFrame{
        flex: 3; 
        height: 500px; 
        border-radius: 4px;
        border: none;
}

.search-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 250px; 
    height: 500px; 
    margin-left: 10px;
    border-radius: 20px; /* Add border-radius for rounded corners */
}


input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; 
}

button {
    padding: 10px 20px;
    color: black;
    background-color: #F4DBC5; /* Button color based on image */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none; /* Add this line to remove the border */
}

button:hover {
    background-color: #EF6C00;
}

.suburb-container {
    background-color: #065247; 
   
}

.year-container {
    background-color:#7AA4A0; 
}

.background-container {
    background-color: #042237; /* Background color behind both sections */
    padding: 20px; /* Add padding to create space around the sections */
     /* Add border radius to match section */
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    /* Move padding, border-radius, and box-shadow rules to .background-container */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.suburb-container h2,
.year-container h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
    color: white; /* Text color for both sections */
}




/* Footer Section */
.footer-section {
    font-family: Salsa;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the left */
    padding: 1rem 2rem;
    background-color: #b2cee8; /* Change to match the exact color */
    color: black; 
  }
  
  .footer-links a {
    display: block; /* Make each link a block to stack them vertically */
    text-decoration: none;
    color: black; 
    margin-bottom: 0.5rem; /* Add some space between the links */
  }
  
  .footer-copy {
    align-self: stretch; /* Stretch to take the full width of the footer */
    text-align: right; /* Align text to the right */
    border-top: 1px solid white; /* Add a border on top */
  }
  
  .footer-copy p {
    margin: 10px; /* Remove default margin */
    text-align: center;
  }
  
  
  /* Additional responsiveness for smaller screens */
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column; /* Stack the elements on smaller screens */
      text-align: center;
    }
  
    .footer-links {
      margin-bottom: 1rem; /* Add some space between the links and copyright text */
      flex-direction: column; /* Stack the links */
      align-items: center; /* Center the links */
    }
  }


.search-container {
     position: relative; /* Set positioning context */
     width: 100%; /* Or adjust the width as needed */
}

#suburbInput {
     width: 100%; /* The input box occupies the entire width of the container */
     padding: 10px;
     margin-bottom: 10px; /* Appropriate spacing */
     box-sizing: border-box; /* width calculation including padding and border */
}

.autocomplete-results {
     position: absolute;
     top:240px; /* Located directly below the input box */
     left: 0; /* Align with the left edge of the input box */
     right: 0; /* Align with the right edge of the input box to ensure consistent width */
     max-height: 200px; /* Control the maximum height */
     overflow-y: auto; /* Display scroll bars when the maximum height is exceeded */
      /* Add border */
     border-radius: 2px;
     border-top: 0;
     background-color: white;
     z-index: 1000; /* Make sure it is above other elements */
     box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.autocomplete-results div {
     padding: 8px; /* Adjust padding to better display each item */
     border-bottom: 1px solid #ccc; /* Separator between items */
}

.autocomplete-results div:hover {
     background-color: #f1f1f1; /* Background color when mouse is hovering */
}


/* Loader CSS */
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid blue;
            border-right: 16px solid green;
            border-bottom: 16px solid red;
            border-left: 16px solid pink;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            display: none; /* Initially hidden */
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        /* Overlay for loader */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none; /* Initially hidden */
        }