/* Navigation bar styles */
body {
    margin: 0;
    padding-top: 60px; 
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: Salsa; /* Darker shade based on image */
    background-color: #065247;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed; /* Makes navbar fixed at the top */
    top: 0; /* Aligns navbar to the top */
    width: 100%; /* Ensures navbar stretches across the full viewport width */
    z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
}

.frog-icon {
    width: 40px;
    height: 40px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.navbar-items .nav-item{
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    padding-left: 10px; 
}


.navbar-items .dropbtn
{
    background: none;
    color: #ffffff;
    padding: 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.nav-item.active {
    text-decoration: underline; /* Underline for active page */
    text-decoration-color: #a8d5a0; /* Change underline color */
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; /* Adjust space between text and underline */
    text-decoration-skip-ink: none; /* Ensure underline is not cut through descenders */
}

.dropdown {
    position: relative;
}

.arrow-icon {
    margin-left: 5px;

}

.nav-text {
    font-family: Salsa;
    color: white;
    padding: 0 0.5rem; /* Adjust padding as needed */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Keep the drop-down button aligned to the left */
    top: 100%; /* Set the top distance to 100% to place the menu below the button */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Add specific styles for the hero image */
.header-section {
    position: relative;
    background-image: url("/static/images/locationbg.jpg");
    background-size: cover;
    background-position: center; /* Center the background image horizontally and vertically */
    z-index: 0;
    height: 300px; /* Adjust height as needed */
  }
  
  .header-section::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 24, 13, 0.6);
    z-index: -1;
  }
  
  .header {
    text-align: center;
    color: white;
    padding: 4rem 0;
    text-shadow: 2px 2px 4px black;
  }
  
  .header h1 {
    font-family: 'Salsa', cursive;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

/* CSS for the first section */
section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #7AA4A0; /* Default background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.706);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}

/* CSS for the second section */
.content {
    display: flex;
    align-items: stretch; 
    width: 100%; 
}

#suburbMapFrame {
    flex: 3; 
    height: 500px; 
    border-radius: 4px;
    border: none;
}

#yearMapFrame{
        flex: 3; 
        height: 500px; 
        border-radius: 4px;
        border: none;
}

.search-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 300px; 
    height: 500px; 
}



input[type="text"], button {
    padding: 10px;
    margin-bottom: 10px; 
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.suburb-container {
    background-color: #065247; 
   
}

.year-container {
    background-color:#7AA4A0; 
}

.suburb-container h2, .year-container h2 {
    color: white; 
}

/* Footer Section */
.footer-section {
    font-family: Salsa;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the left */
    padding: 1rem 2rem;
    background-color: #F4C194; /* Change to match the exact color */
    color: black; 
  }
  
  .footer-links a {
    display: block; /* Make each link a block to stack them vertically */
    text-decoration: none;
    color: black; 
    margin-bottom: 0.5rem; /* Add some space between the links */
  }
  
  .footer-copy {
    align-self: stretch; /* Stretch to take the full width of the footer */
    text-align: right; /* Align text to the right */
   
    border-top: 1px solid white; /* Add a border on top */
  }
  
  .footer-copy p {
    margin: 0; /* Remove default margin */
    text-align: center;
  }
  
  
  /* Additional responsiveness for smaller screens */
  @media (max-width: 768px) {
    .footer-section {
      flex-direction: column; /* Stack the elements on smaller screens */
      text-align: center;
    }
  
    .footer-links {
      margin-bottom: 1rem; /* Add some space between the links and copyright text */
      flex-direction: column; /* Stack the links */
      align-items: center; /* Center the links */
    }
  }