<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
  <title>InvaToad: 404 Page Not Found</title>
  <link rel="stylesheet" href="/static/css/404_page.css">
</head>
<body>
  <section class="page_404">
    <div class="container">
      <div class="row">	
        <div class="col-sm-12 text-center">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="logo-container">
              <img src="/static/images/frog-icon.png" alt="Your Website Logo" class="logo">
              <p class="logo-text">INVATOAD</p>
            </div>
            <div class="four_zero_four_bg">
              <h1>404</h1>
              <p class="error-text">Oops! We're sorry, but the page you are looking for cannot be found.</p>
              <p class="info-text">It seems you’ve reached a dead end. Let's guide you back home.</p>
              <a href="/" class="link_404">Return Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
