<!DOCTYPE html>
<html lang="en">
<head>
    <title>InvaToad: Handling</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/handling.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <a href="/main" class="logo-link">
                <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
                <span class="logo">INVATOAD</span>
            </a>
        </div>
        <div class="navbar-items">
            <a href="/main" class="nav-item">Home</a>
            <div class="nav-item dropdown">
                <div class="dropdown-container">
                    <span class="nav-text">Info Toad ▼</span>
                </div>
                <div class="dropdown-content">
                    <a href="/history">History</a>
                    <a href="/behaviour">Behaviour</a>
                </div>
            </div>
            <a href="/location" class="nav-item">Cane Toad Locator</a>
            <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
            <a href="/handle" class="nav-item active">Handling</a>
            <a href="/test_your_knowledge" class="nav-item">Test Your Knowledge</a>
            <a href="/about_us" class="nav-item">About us</a>
        </div>
    </div>

    <!-- Section for the page title -->
    <div class="header-section">
        <div class="header">
            <h1>Cane Toad Handling</h1>
        </div>
    </div>

    <section class="content-section guide">
        <h1 class="guide-title">Individual Users Step by Step Guide</h1>
        </p>
        <div class="shell">
            <div class="carousel">
                <div class="carousel-inner" id="carouselInner">
                    <div class="carousel-item">
                        <div class="step-content">
                            <div class="step-image">
                                <img src="static/images/step1-image.png" alt="Step 1 Image">
                            </div>
                            <div class="step-info">
                                <h2>Step 1</h2>
                                <p>Always wear gloves, thick rubber or gardening, when handling toads.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="step-content">
                            <div class="step-image">
                                <img src="static/images/step2-image.png" alt="Step 2 Image">
                            </div>
                            <div class="step-info">
                                <h2>Step 2</h2>
                                <p>Pick up the toad firmly, preferably with your hand supporting its back. </p>
                                <p>Place it in a plastic bag or container, and secure it with ziplock/lid clearly. </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="step-content">
                            <div class="step-image">
                                <img src="static/images/step3-image.png" alt="Step 3 Image">
                            </div>
                            <div class="step-info">
                                <h2>Step 3</h2>
                                <p>Now place into your refrigerator (at 4°C) and leave for 12 hours.</p>
                                <p>This does not kill the toad but does anaesthetise it. </p>
                                <p>This length of time is essential and the toad must not be moving when placed in the freezer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="step-content">
                            <div class="step-image">
                                <img src="static/images/step5-image.png" alt="Step 4 Image">
                            </div>
                            <div class="step-info">
                                <h2>Step 4</h2>
                                <p>Next, place the container with the toad into the freezer (-20°C) for at least 24 hours.</p>
                                <p>This last step will painlessly kill the toad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="step-content">
                            <div class="step-image">
                                <img src="static/images/step4-image.png" alt="Step 5 Image">
                            </div>
                            <div class="step-info">
                                <h2>Step 5</h2>
                                <p>Finally, dispose of the body in your wheelie bin. </p>
                                <p>Alternatively, you can bury the body, but this must be deep enough,</p>
                                <p> so it will not easily be dug up by dogs or native animals.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-controls">
                    <label id="label1" for="slide1" class="active" onclick="changeSlide(1)">1</label>
                    <label id="label2" for="slide2" onclick="changeSlide(2)">2</label>
                    <label id="label3" for="slide3" onclick="changeSlide(3)">3</label>
                    <label id="label4" for="slide4" onclick="changeSlide(4)">4</label>
                    <label id="label5" for="slide5" onclick="changeSlide(5)">5</label>
                </div>
                <div class="source-info">
                    <p><u class="source-label">Guide Source:</u> <a href="https://www.dcceew.gov.au/environment/invasive-species/publications/can001-methods-field-euthanasia-cane-toads">Department of Climate Change, Energy, the Environment and Water</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section report">
        <div class="content">
            <div class="image-container">
                <iframe src="/handling_header"></iframe>
            </div>
            <div class="text-container">
                <h2>Report Cane Toad Sightings to Authorities</h2>
                <input type="text" id="suburbInput" placeholder="Enter your AU state" oninput="showSuggestions(this.value)">
                <div id="suggestionBox" class="suggestions"></div>
                <button onclick="searchLocation()">Search</button>
                <div id="messageBox"></div>
            </div>
        </div>
    </section>

    <footer class="footer-section">
        <div class="footer-links">
            <a href="/about_us">About us</a>
            <a href="/terms">Terms of Use</a>
            <a href="/terms">Data Privacy Policy</a>
        </div>
        <div class="footer-copy">
            <p>Copyright © 2024 InvaToad</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/handling.js"></script>
</body>
</html>
