<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/history.css">
  <title>InvaToad: History</title>
</head>
<body>

  <div class="sidebar">
    <a href="#1900s">1900s</a>
    <a href="#1930s">1930s</a>
    <a href="#1940s">1940s</a>
    <a href="#1960s">1960s</a>
    <a href="#2000s">2000s</a>
</div>

        <div class="navbar">
        <div class="navbar-logo">
            <a href="/main" class="logo-link">
                <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
                <span class="logo">INVATOAD</span>
            </a>
        </div>
        <div class="navbar-items">
            <a href="/main" class="nav-item">Home</a>
            <div class="nav-item dropdown">
              <div class="dropdown-container">
                <span class="nav-text active">Info Toad ▼</span>
            </div>
                <div class="dropdown-content">
                <a href="/history" class="active">History</a>
                <a href="/behaviour">Behaviour</a>
            </div>
            </div>
            <a href="/location" class="nav-item">Cane Toad Locator</a>
            <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
            <a href="/handle" class="nav-item">Handling</a>
            <a href="/test_your_knowledge" class="nav-item">Test Your Knowledge</a>
            <a href="/about_us" class="nav-item">About us</a>
        </div>
    </div>


    <div class="header-section">
      <div class="header">
        <h1>Cane Toad Timeline</h1>
        <p class="sub-tagline">History</p>
      </div>
    </div>
  
  



 <div class="shell" id="shell">
    <div class="header">
    </div>
    <div class="timeline">
      <div class="item" id="1900s" data-text="Background">
        <div class="content">
          <img src="/static/images/history_2.jpg" alt="" class="img">
          <h2 class="content-title">1900s</h2>
          <p class="content-desc">
          <ul class="content-list">
            <li>Sugar cane commercially grown in Queensland since the 1860s.</li>
            <li>Losses caused by white grub attacks became a serious problem in the 1880s.</li>
            <li>Queensland government established the Queensland Bureau of Sugar Experiment Stations (BSES) in 1900
              to address the issue.</li>
            <li>Entomologists studied cane beetles and investigated solutions for around 25 years, including various
              control measures.</li>
          </ul>
          </p>
        </div>
      </div>

      <div class="item" id="1930s" data-text="How it happened">
        <div class="content">
          <img src="/static/images/history_1.jpg" alt="" class="img">
          <h2 class="content-title">1930s</h2>
          <p class="content-desc">
          <ul class="content-list">
            <li>Government entomologist Reginald Mungomery imported cane toads from Hawaii, believing they could
              control beetle pests.</li>
            <li>In June 1935, Mungomery brought 102 toads to Australia and released them in Queensland</li>
            <li>Despite initial concerns raised by entomologist Walter Froggatt, toad releases continued due to
              pressure from BSES and cane growers</li>

          </ul>
          </p>
        </div>
      </div>

      <div class="item" id="1940s" data-text="Risk Assessment">
        <div class="content">
          <img src="/static/images/history_3.jpg" alt="" class="img">
          <h2 class="content-title">1940s</h2>
          <p class="content-desc">
          <ul class="content-list">
          <li>Froggatt warned about the potential pest status of cane toads but was ignored.</li>
          <li>No pre-release testing was conducted to assess the toads' impact on native Australian species.</li>
          <li>BSES and government officials overlooked the risks, and bans on further releases were lifted.</li>
          </ul>
          </p>
        </div>
      </div>

      <div class="item" id="1960s" data-text="Spread Across Australia">
        <div class="content">
          <img src="/static/images/history_4.jpg" alt="" class="img">
          <h2 class="content-title">1960s</h2>
          <p class="content-desc">
            <ul class="content-list">
              <li>Cane toads rapidly multiplied and spread across Queensland, Northern Territory, New South Wales, and Western Australia.</li>
              <li>Cane Toads had colonized most of Queensland's east coast.</li>
              <li>They reached the Northern Territory/Western Australian border by 2009, and by 2023, they were sighted as far south as Bankstown, Sydney.</li>
          </ul>
          </p>
          </ul>
        </div>
      </div>

      <div class="item" id="2000s" data-text="Current Status And Conclusion">
        <div class="content">
          <img src="/static/images/history_5.jpg" alt="" class="img">
          <h2 class="content-title">2000s</h2>
          <p class="content-desc">
            <ul class="content-list">
              <li>Despite efforts to control their spread, cane toads remain a significant pest in Australia.</li>
              <li>Lessons learned from the introduction of cane toads have influenced modern quarantine laws and risk assessment procedures.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

    <!-- Footer Section -->
    <footer class="footer-section">
      <div class="footer-links">
        <a href="/about_us">About us</a>
        <a href="/terms">Terms of Use</a>
        <a href="/terms">Data Privacy Policy</a>
      </div>
      <div class="footer-copy">
        <p>Copyright © 2024 InvaToad</p>
      </div>
    </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/hitstory.js"></script>