<!doctype html>
<html lang="en">

<head>

    <title>location-page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  main CSS -->
    <link rel="stylesheet" href="/static/css/location.css">
</head>
<div class="navbar">
    <div class="navbar-logo">
        <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
        <div class="logo">INVATOAD</div>
    </div>
    <div class="navbar-items">
        <a href="/test" class="nav-item active">Home</a>
        <div class="nav-item dropdown">
            <button class="dropbtn">Information<img src="/static/icon/arrow.svg" class="arrow-icon"></button>
            <div class="dropdown-content">
                <a href="/history">History</a>
                <a href="#">Behavior</a>
            </div>
        </div>
        <a href="/location" class="nav-item">Cane Toad Locator</a>
        <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
        <a href="#" class="nav-item">Handling</a>
        <a href="#" class="nav-item">Test your knowledge</a>
        <a href="/about_us" class="nav-item">About US</a>
    </div>
</div>


<!-- Suburban research area -->
<section>
    <h2>Search by suburb</h2>
    <input type="text" id="suburbInput" placeholder="Please enter suburb name">
    <button onclick="loadMap('suburb')">Search</button>
    <iframe id="suburbMapFrame" width="100%" height="500px"></iframe>
</section>

<!-- year research area -->
<section>
    <h2>Search by year</h2>
    <input type="number" id="yearInput" placeholder="Please enter year">
    <button onclick="loadMap('year')">Search</button>
    <iframe id="yearMapFrame" width="100%" height="500px"></iframe>
</section>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/location.js"></script>
</body>
</div>

</html>