<!doctype html>
<html lang="en">

<head>
    <title>Cane Toad Locator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/location.css">
</head>

<div class="navbar">
  <div class="navbar-logo">
      
          <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
          <div class="logo">INVATOAD</div>
      
  </div>
  <div class="navbar-items">
      <a href="/main" class="nav-item">Home</a>
      <div class="nav-item dropdown">
          <div class="dropdown-container">
              <span class="nav-text">Info Toad</span>
              <button class="dropbtn">▼</button>
          </div>
          <div class="dropdown-content">
              <a href="/history">History</a>
              <a href="/behaviour">Behaviour</a>
          </div>
      </div>
      <a href="/location" class="nav-item active">Cane Toad Locator</a>
      <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
      <a href="/handle" class="nav-item">Handling</a>
      <a href="#" class="nav-item">Test Your Knowledge</a>
      <a href="/about_us" class="nav-item">About us</a>
  </div>
</div>

<div class="header-section">
    <div class="header">
      <h1>Cane Toad Locator</h1>
    </div>
  </div>

<!-- Suburban research area -->
<section class="container suburb-container">
  <h2>Use this map to locate where Cane Toads have been found in your suburbs:</h2>
  <div class="content">
      <iframe id="suburbMapFrame"  frameborder="0"></iframe>
      <div class="search-container">
          <input type="text" id="suburbInput" placeholder="Enter your suburb">
          <button onclick="loadMap('suburb')">Search</button>
      </div>
  </div>
</section>

<section class="container year-container">
  <h2>Use this map to see the Cane Toads population over the years:</h2>
  <div class="content">
      <iframe id="yearMapFrame" frameborder="0"></iframe>
      <div class="search-container">
          <input type="text" id="yearInput" placeholder="Enter a year">
          <button onclick="loadMap('year')">Search</button>
      </div>
  </div>
</section>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/location.js"></script>

</div>

</html>

  
    <!-- Footer Section -->
<footer class="footer-section">
    <div class="footer-links">
      <a href="/about_us">About us</a>
      <a href="#">Terms of Use</a>
      <a href="#">Data Privacy Policy</a>

    </div>
    <div class="footer-copy">
      <p>InvaToad@Copyright</p>
    </div>
  </footer>