<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/main.css">
  <title>Home: InvaToad</title>
</head>
<body>


  <div class="navbar">
    <div class="navbar-logo">
        <a href="/main" class="logo-link">
            <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
            <span class="logo">INVATOAD</span>
        </a>
    </div>
    <div class="navbar-items">
        <a href="/main" class="nav-item active">Home</a>
        <div class="nav-item dropdown">
            <div class="dropdown-container">
              <span class="nav-text">Info Toad ▼</span>
            </div>
            <div class="dropdown-content">
                <a href="/history">History</a>
                <a href="/behaviour">Behaviour</a>
            </div>
        </div>
        <a href="/location" class="nav-item">Cane Toad Locator</a>
        <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
        <a href="/handle" class="nav-item">Handling</a>
        <a href="/test_your_knowledge" class="nav-item">Test Your Knowledge</a>
        <a href="/about_us" class="nav-item">About us</a>
    </div>
</div>

    

    <section class="header-section">
    <div class="header">
        <h1>InvaToad: Protecting Australian Biodiversity from the Invasive Cane Toad Infestation</h1>
        <p class="sub-tagline">Empowering Change, Safeguarding Wildlife</p>
        <button id="action-button">Take Action Now</button>
    </div>
</section>



<section class="content-section">
  <div class="content">
      <div class="image-container">
          <img src="/static/images/header_image1.png" alt="Image">
      </div>
      <div class="text-container">
          <h2>Did you know?</h2>
          <ul>
              <li>Cane toads have become a significant threat to Australian ecosystems.</li>
              <li>Did you know? The rate of cane toad sightings is increasing by approximately 15% to 20% every year!</li>
              <li>Australia is losing biodiversity at an alarming rate of about 1% to 1.5% annually, with invasive species like cane toads contributing significantly.</li>
              <li>Over 250 native species in Australia have been adversely affected by the presence of cane toads, highlighting the critical need for conservation efforts.</li>
          </ul>
          <p>Discover more intriguing facts about cane toads and their impact on our surroundings by visiting our information page!</p>
          <button id="learn-more-button">Learn more</button>
      </div>
  </div>
</section>




<!-- Cards Section -->
<section class="cards-section">
  <div class="card">
    <img src="/static/images/location.png"  alt="Cane Toad" />
    <h3>Cane Toad Locator</h3>
    <ul>
      <li>Explore our interactive map, which allows users to track past cane toad sightings across Australia</li>
    </ul>
    <button id="explore-locator" class="card-button">Locate Now</button>
  </div>
  <div class="card">
    <img src="/static/images/handling.png" alt="Cane Toad Tools" />
    <h3>Cane Toad Identifier</h3>
    <ul>
      <li>Utilize our innovative cane toad identifier tool to quickly and accurately identify these invasive amphibians</li>
    </ul>
    <button id="identify-tools" class="card-button">Identify Now</button>
  </div>
  <div class="card">
    <img src="/static/images/indenti.png" alt="More Tools" />
    <h3>Cane Toad Handling</h3>
    <ul>
      <li>Learn effective methods for safely and ethically removing cane toads from your property or local environment</li>
    </ul>
    <button id="learn-handling" class="card-button">Learn More</button>
  </div>
</section>

  
  <!-- Footer Section -->
<footer class="footer-section">
    <div class="footer-links">
      <a href="/about_us">About us</a>
      <a href="/terms">Terms of Use</a>
      <a href="/terms">Data Privacy Policy</a>
    </div>
    <div class="footer-copy">
      <p>Copyright © 2024 InvaToad</p>
    </div>
  </footer>
  
  


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="/static/js/main.js"></script>








