<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3b1ed23265d02a26aa292432d78f5e0f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3b1ed23265d02a26aa292432d78f5e0f" ></div>
        
</body>
<script>
    
    
            var map_3b1ed23265d02a26aa292432d78f5e0f = L.map(
                "map_3b1ed23265d02a26aa292432d78f5e0f",
                {
                    center: [-33.86709, 151.21758],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_00b14a8cc5f5863fc7a18d00cc273196 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_00b14a8cc5f5863fc7a18d00cc273196.addTo(map_3b1ed23265d02a26aa292432d78f5e0f);
        
    
            var circle_marker_1b54b916c386362a6429f4f8c361c3df = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3b1ed23265d02a26aa292432d78f5e0f);
        
    
        var popup_e135d043bf23a5c3cd392e88b43e7e36 = L.popup({"maxWidth": "100%"});

        
            
                var html_88766855c3ef1e226634e5fec7b88803 = $(`<div id="html_88766855c3ef1e226634e5fec7b88803" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 1</div>`)[0];
                popup_e135d043bf23a5c3cd392e88b43e7e36.setContent(html_88766855c3ef1e226634e5fec7b88803);
            
        

        circle_marker_1b54b916c386362a6429f4f8c361c3df.bindPopup(popup_e135d043bf23a5c3cd392e88b43e7e36)
        ;

        
    
    
            var circle_marker_f0208f0ffe547021dadb8e8794bc4622 = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3b1ed23265d02a26aa292432d78f5e0f);
        
    
        var popup_a6fc4acb2f80344851e7e4548b8db61d = L.popup({"maxWidth": "100%"});

        
            
                var html_5b3ab965185127af93b9ef6d18339506 = $(`<div id="html_5b3ab965185127af93b9ef6d18339506" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 2</div>`)[0];
                popup_a6fc4acb2f80344851e7e4548b8db61d.setContent(html_5b3ab965185127af93b9ef6d18339506);
            
        

        circle_marker_f0208f0ffe547021dadb8e8794bc4622.bindPopup(popup_a6fc4acb2f80344851e7e4548b8db61d)
        ;

        
    
    
            var circle_marker_efe549daa65f02c2e4a4bd9ca3ce523d = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3b1ed23265d02a26aa292432d78f5e0f);
        
    
        var popup_ae61f76592f6c714a07e350104eba474 = L.popup({"maxWidth": "100%"});

        
            
                var html_bc26813a562e30e27452332b01159f7a = $(`<div id="html_bc26813a562e30e27452332b01159f7a" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 3</div>`)[0];
                popup_ae61f76592f6c714a07e350104eba474.setContent(html_bc26813a562e30e27452332b01159f7a);
            
        

        circle_marker_efe549daa65f02c2e4a4bd9ca3ce523d.bindPopup(popup_ae61f76592f6c714a07e350104eba474)
        ;

        
    
</script>
</html>