<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab90541d1cc4d32a324528ca0a226457 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ab90541d1cc4d32a324528ca0a226457" ></div>
        
</body>
<script>
    
    
            var map_ab90541d1cc4d32a324528ca0a226457 = L.map(
                "map_ab90541d1cc4d32a324528ca0a226457",
                {
                    center: [-33.86709, 151.21758],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f1ed6628d79edb34d32155826ab5126e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f1ed6628d79edb34d32155826ab5126e.addTo(map_ab90541d1cc4d32a324528ca0a226457);
        
    
            var circle_marker_813f87fcf893041a1eb98a3dfd448604 = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_ab90541d1cc4d32a324528ca0a226457);
        
    
        var popup_996d2c0d2a9efe8d61929607bac3b328 = L.popup({"maxWidth": "100%"});

        
            
                var html_f6bcc9be6d01c6932055bdb6817ceb23 = $(`<div id="html_f6bcc9be6d01c6932055bdb6817ceb23" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 1</div>`)[0];
                popup_996d2c0d2a9efe8d61929607bac3b328.setContent(html_f6bcc9be6d01c6932055bdb6817ceb23);
            
        

        circle_marker_813f87fcf893041a1eb98a3dfd448604.bindPopup(popup_996d2c0d2a9efe8d61929607bac3b328)
        ;

        
    
    
            var circle_marker_914b0b7d57c57bc6b3743bfb8c4cee1e = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_ab90541d1cc4d32a324528ca0a226457);
        
    
        var popup_c3a3a6e2f5207f92473d606509c1e817 = L.popup({"maxWidth": "100%"});

        
            
                var html_4ceb2b550943768d45e9fed0ff5a52bf = $(`<div id="html_4ceb2b550943768d45e9fed0ff5a52bf" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 2</div>`)[0];
                popup_c3a3a6e2f5207f92473d606509c1e817.setContent(html_4ceb2b550943768d45e9fed0ff5a52bf);
            
        

        circle_marker_914b0b7d57c57bc6b3743bfb8c4cee1e.bindPopup(popup_c3a3a6e2f5207f92473d606509c1e817)
        ;

        
    
    
            var circle_marker_6f83feadec593d958aaf522be80aa76d = L.circleMarker(
                [-33.86709, 151.21758],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_ab90541d1cc4d32a324528ca0a226457);
        
    
        var popup_2f74877e83a1baefe67408e56073deb1 = L.popup({"maxWidth": "100%"});

        
            
                var html_b172335462aa91b0a10fa74aa5674146 = $(`<div id="html_b172335462aa91b0a10fa74aa5674146" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 3</div>`)[0];
                popup_2f74877e83a1baefe67408e56073deb1.setContent(html_b172335462aa91b0a10fa74aa5674146);
            
        

        circle_marker_6f83feadec593d958aaf522be80aa76d.bindPopup(popup_2f74877e83a1baefe67408e56073deb1)
        ;

        
    
</script>
</html>