<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3d6cb925a08e4774c8b52dbb58627635 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3d6cb925a08e4774c8b52dbb58627635" ></div>
        
</body>
<script>
    
    
            var map_3d6cb925a08e4774c8b52dbb58627635 = L.map(
                "map_3d6cb925a08e4774c8b52dbb58627635",
                {
                    center: [-26.726623, 152.619983],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3a6e6879887fb609bf088164e1c7401b = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_3a6e6879887fb609bf088164e1c7401b.addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
            var circle_marker_5922473b871e529e9ed5af52e476270c = L.circleMarker(
                [-26.726623, 152.619983],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_d6ec407da829cfa8f19f70635d35d319 = L.popup({"maxWidth": "100%"});

        
            
                var html_63f90dfe01b64b1d9a9ce76cf06772a7 = $(`<div id="html_63f90dfe01b64b1d9a9ce76cf06772a7" style="width: 100.0%; height: 100.0%;">Year: 2002   Occurrences: 1</div>`)[0];
                popup_d6ec407da829cfa8f19f70635d35d319.setContent(html_63f90dfe01b64b1d9a9ce76cf06772a7);
            
        

        circle_marker_5922473b871e529e9ed5af52e476270c.bindPopup(popup_d6ec407da829cfa8f19f70635d35d319)
        ;

        
    
    
            var circle_marker_5058b941f6ad6c7915b98a30af5a0533 = L.circleMarker(
                [-26.703487, 152.684699],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_791c7372836ef76c6b1f320407fec81b = L.popup({"maxWidth": "100%"});

        
            
                var html_44c8158e470950ae35a8c7716791891d = $(`<div id="html_44c8158e470950ae35a8c7716791891d" style="width: 100.0%; height: 100.0%;">Year: 1997   Occurrences: 1</div>`)[0];
                popup_791c7372836ef76c6b1f320407fec81b.setContent(html_44c8158e470950ae35a8c7716791891d);
            
        

        circle_marker_5058b941f6ad6c7915b98a30af5a0533.bindPopup(popup_791c7372836ef76c6b1f320407fec81b)
        ;

        
    
    
            var circle_marker_d10798ff1ab170657de3bc41908021f9 = L.circleMarker(
                [-26.752019, 152.666899],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_19c28926a2d9184b0a40ed5fba7abc81 = L.popup({"maxWidth": "100%"});

        
            
                var html_3bc7f95ffc33a8ccf7998974222158a6 = $(`<div id="html_3bc7f95ffc33a8ccf7998974222158a6" style="width: 100.0%; height: 100.0%;">Year: 1991   Occurrences: 1</div>`)[0];
                popup_19c28926a2d9184b0a40ed5fba7abc81.setContent(html_3bc7f95ffc33a8ccf7998974222158a6);
            
        

        circle_marker_d10798ff1ab170657de3bc41908021f9.bindPopup(popup_19c28926a2d9184b0a40ed5fba7abc81)
        ;

        
    
    
            var circle_marker_43204b4196d3239cff3eca7b8fba5488 = L.circleMarker(
                [-26.731667, 152.717778],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_0946afe5792bfd8f8cd532b69899bc10 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc3e5c1849b9ac10df21fbd98769e3bd = $(`<div id="html_dc3e5c1849b9ac10df21fbd98769e3bd" style="width: 100.0%; height: 100.0%;">Year: 1973   Occurrences: 1</div>`)[0];
                popup_0946afe5792bfd8f8cd532b69899bc10.setContent(html_dc3e5c1849b9ac10df21fbd98769e3bd);
            
        

        circle_marker_43204b4196d3239cff3eca7b8fba5488.bindPopup(popup_0946afe5792bfd8f8cd532b69899bc10)
        ;

        
    
    
            var circle_marker_d9aaab8cca1e137553616a0ac65bd9d8 = L.circleMarker(
                [-26.723408, 152.642733],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_4c86d5343fce8fa9b70d49196cae37ec = L.popup({"maxWidth": "100%"});

        
            
                var html_a8fea675cea552adc1544184cc222e24 = $(`<div id="html_a8fea675cea552adc1544184cc222e24" style="width: 100.0%; height: 100.0%;">Year: 1994   Occurrences: 1</div>`)[0];
                popup_4c86d5343fce8fa9b70d49196cae37ec.setContent(html_a8fea675cea552adc1544184cc222e24);
            
        

        circle_marker_d9aaab8cca1e137553616a0ac65bd9d8.bindPopup(popup_4c86d5343fce8fa9b70d49196cae37ec)
        ;

        
    
    
            var circle_marker_0e8cf555581ec87870b457bc32722956 = L.circleMarker(
                [-26.734242, 152.669677],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_b650a726838bdcc16fec645c8faec20c = L.popup({"maxWidth": "100%"});

        
            
                var html_5dbf0652695a649dfab9d2919d003b6f = $(`<div id="html_5dbf0652695a649dfab9d2919d003b6f" style="width: 100.0%; height: 100.0%;">Year: 1991   Occurrences: 1</div>`)[0];
                popup_b650a726838bdcc16fec645c8faec20c.setContent(html_5dbf0652695a649dfab9d2919d003b6f);
            
        

        circle_marker_0e8cf555581ec87870b457bc32722956.bindPopup(popup_b650a726838bdcc16fec645c8faec20c)
        ;

        
    
    
            var circle_marker_7d2e65de4f305bfb941400ff66a64eee = L.circleMarker(
                [-26.725201, 152.657857],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_8341953d2d0ee276f2c33146e4f410d0 = L.popup({"maxWidth": "100%"});

        
            
                var html_909c6568c7674c0c9d0c8276b9672c6c = $(`<div id="html_909c6568c7674c0c9d0c8276b9672c6c" style="width: 100.0%; height: 100.0%;">Year: 2007   Occurrences: 1</div>`)[0];
                popup_8341953d2d0ee276f2c33146e4f410d0.setContent(html_909c6568c7674c0c9d0c8276b9672c6c);
            
        

        circle_marker_7d2e65de4f305bfb941400ff66a64eee.bindPopup(popup_8341953d2d0ee276f2c33146e4f410d0)
        ;

        
    
    
            var circle_marker_1c9f744a9fec03972c01d4217e869683 = L.circleMarker(
                [-26.748686, 152.667455],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_e7358f8e3c2de5ad0ecb4e84f3bf4f5f = L.popup({"maxWidth": "100%"});

        
            
                var html_bef4cea3d1d8f9720c3288d922e4babd = $(`<div id="html_bef4cea3d1d8f9720c3288d922e4babd" style="width: 100.0%; height: 100.0%;">Year: 1991   Occurrences: 1</div>`)[0];
                popup_e7358f8e3c2de5ad0ecb4e84f3bf4f5f.setContent(html_bef4cea3d1d8f9720c3288d922e4babd);
            
        

        circle_marker_1c9f744a9fec03972c01d4217e869683.bindPopup(popup_e7358f8e3c2de5ad0ecb4e84f3bf4f5f)
        ;

        
    
    
            var circle_marker_449ae7dad5182445078ed57fa2965c4d = L.circleMarker(
                [-26.74813, 152.738914],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_2bf8d5542db45a67c6b539046d002523 = L.popup({"maxWidth": "100%"});

        
            
                var html_f90e1ef4f0017ea7fc823b3a1493304d = $(`<div id="html_f90e1ef4f0017ea7fc823b3a1493304d" style="width: 100.0%; height: 100.0%;">Year: 2019   Occurrences: 1</div>`)[0];
                popup_2bf8d5542db45a67c6b539046d002523.setContent(html_f90e1ef4f0017ea7fc823b3a1493304d);
            
        

        circle_marker_449ae7dad5182445078ed57fa2965c4d.bindPopup(popup_2bf8d5542db45a67c6b539046d002523)
        ;

        
    
    
            var circle_marker_f1c1069cda459dee5427426e49686892 = L.circleMarker(
                [-26.715, 152.701111],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_5431a5ad643d0c26f727862ae983ad99 = L.popup({"maxWidth": "100%"});

        
            
                var html_b9f7e7727ca8d396d5d1729ba59b288d = $(`<div id="html_b9f7e7727ca8d396d5d1729ba59b288d" style="width: 100.0%; height: 100.0%;">Year: 1976   Occurrences: 1</div>`)[0];
                popup_5431a5ad643d0c26f727862ae983ad99.setContent(html_b9f7e7727ca8d396d5d1729ba59b288d);
            
        

        circle_marker_f1c1069cda459dee5427426e49686892.bindPopup(popup_5431a5ad643d0c26f727862ae983ad99)
        ;

        
    
    
            var circle_marker_ef156eb8c277d5c3e80648c44df58092 = L.circleMarker(
                [-26.747134, 152.736263],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_d8c748ba2e5134fc3f6a3903cd849098 = L.popup({"maxWidth": "100%"});

        
            
                var html_544403a292e339f7fac350fbce6839aa = $(`<div id="html_544403a292e339f7fac350fbce6839aa" style="width: 100.0%; height: 100.0%;">Year: 2019   Occurrences: 1</div>`)[0];
                popup_d8c748ba2e5134fc3f6a3903cd849098.setContent(html_544403a292e339f7fac350fbce6839aa);
            
        

        circle_marker_ef156eb8c277d5c3e80648c44df58092.bindPopup(popup_d8c748ba2e5134fc3f6a3903cd849098)
        ;

        
    
    
            var circle_marker_097d59ac3d71db11b3c4123c9dc5fe0b = L.circleMarker(
                [-26.745286, 152.616097],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_8439532bc0b27a373951ccb367275a87 = L.popup({"maxWidth": "100%"});

        
            
                var html_88854ee539afc376b5da665350802e8d = $(`<div id="html_88854ee539afc376b5da665350802e8d" style="width: 100.0%; height: 100.0%;">Year: 2018   Occurrences: 1</div>`)[0];
                popup_8439532bc0b27a373951ccb367275a87.setContent(html_88854ee539afc376b5da665350802e8d);
            
        

        circle_marker_097d59ac3d71db11b3c4123c9dc5fe0b.bindPopup(popup_8439532bc0b27a373951ccb367275a87)
        ;

        
    
    
            var circle_marker_6ab0c5da6b125d158db541bc6dbb0980 = L.circleMarker(
                [-26.716, 152.7],
                {"bubblingMouseEvents": true, "color": "Orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "Red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_3d6cb925a08e4774c8b52dbb58627635);
        
    
        var popup_ea3652e13bcf8467094857498ac3e024 = L.popup({"maxWidth": "100%"});

        
            
                var html_699607699169d6e889923da91b591c08 = $(`<div id="html_699607699169d6e889923da91b591c08" style="width: 100.0%; height: 100.0%;">Year: 1967   Occurrences: 1</div>`)[0];
                popup_ea3652e13bcf8467094857498ac3e024.setContent(html_699607699169d6e889923da91b591c08);
            
        

        circle_marker_6ab0c5da6b125d158db541bc6dbb0980.bindPopup(popup_ea3652e13bcf8467094857498ac3e024)
        ;

        
    
</script>
</html>