<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Salsa" />
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/take_action.css">
  <title>InvaToad: Take Action </title>
</head>
<body>

      <div class="navbar">
        <div class="navbar-logo">
            <a href="/main" class="logo-link">
                <img src="/static/images/frog-icon.png" class="frog-icon" alt="Frog Icon">
                <span class="logo">INVATOAD</span>
            </a>
        </div>
        <div class="navbar-items">
            <a href="/main" class="nav-item">Home</a>
            <div class="nav-item dropdown">
              <div class="dropdown-container">
                <span class="nav-text">Info Toad ▼</span>
            </div>
                <div class="dropdown-content">
                    <a href="/history">History</a>
                    <a href="/behaviour">Behaviour</a>
                </div>
            </div>
            <a href="/location" class="nav-item">Cane Toad Locator</a>
            <a href="/identifier" class="nav-item">Cane Toad Identifier</a>
            <a href="/handle" class="nav-item">Handling</a>
            <a href="/test_your_knowledge" class="nav-item">Test Your Knowledge</a>
            <a href="/about_us" class="nav-item">About us</a>
        </div>
    </div>

    <!-- Section for the page title -->
<header class="main-header">
    <h1>Our Step Towards a Cane Toad Free Environment</h1>
</header>

<!-- Section for content -->
<main class="content">
    <div class="impact-area">
        <h2 class="impact-title">Our Impact</h2>
        <div class="impact-body">
            <div class="image-box">
                <img src="/static/images/handling.png" alt="Impact Image" />
            </div>
            <div class="description-box">
              <p>Cane toads pose a multifaceted threat to biodiversity due to their poisonous nature, predatory behaviour, adaptability, and competitiveness. Toxic at all life stages, their ingestion has led to the decline and extinction of numerous native predator species in regions like the Northern Territory and Queensland by up to 80%. Their huge appetite spans from insects to small mammals, exacerbating competition for resources and depleting native species' food sources. Thriving in diverse habitats, including urban areas, and reproducing rapidly, cane toads have become a difficult invasive species to handle that are capable of outcompeting and dominating ecosystems at an unmatched rate.</p>
          </div>
        </div>
    </div>
</main>


<div class="solutions-section">
  <h2 class="solutions-title">Our Solutions</h2>
  <div class="solutions-container">
    <div class="solution-item solution-item-1">
      <img src="/static/images/location.png" alt="Cane Toad Locator">
      <p>Explore our interactive map, which allows you to track past cane toad sightings across Australia</p>
      <button id="locator-button" class="solution-button" aria-label="Learn more about the Cane Toad Locator">Cane Toad Locator</button>
    </div>
    <div class="solution-item solution-item-2">
      <img src="/static/images/handling.png" alt="Cane Toad Identifier">
      <p>Utilize our innovative cane toad identifier tool to accurately identify these invasive amphibians</p>
      <button id="identifier-button" class="solution-button" aria-label="Learn more about the Cane Toad Identifier">Cane Toad Identifier</button>
    </div>
    <div class="solution-item solution-item-3">
      <img src="/static/images/indenti.png" alt="Cane Toad Handling">
      <p>Learn effective methods for safely removing cane toads from your property or local environment</p>
      <button id="handling-button" class="solution-button" aria-label="Learn more about Cane Toad Handling">Handling</button>
    </div>
  </div>
</div>





  
    <!-- Footer Section -->
<footer class="footer-section">
    <div class="footer-links">
      <a href="/about_us">About us</a>
      <a href="/terms">Terms of Use</a>
      <a href="/terms">Data Privacy Policy</a>
    </div>
    <div class="footer-copy">
      <p>Copyright © 2024 InvaToad</p>
    </div>
  </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="/static/js/take_action.js"></script>